[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ redmine_nginx_home }}/logs/nginx.pid
ExecStartPre={{ redmine_nginx_home }}/sbin/nginx -t
ExecStart={{ redmine_nginx_home }}/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target