### scouter configuration
#obj_name=WAS-01
ext_plugin_influxdb_udp=true
#ext_plugin_influxdb_udp_local_ip=localhost
#ext_plugin_influxdb_udp_local_port=0
ext_plugin_influxdb_udp_target_ip={{ influx_server_ip }}
ext_plugin_influxdb_udp_target_port={{ influx_udp_port }}
#ext_plugin_influxdb_http_target_ip={{ influx_server_ip }}
#ext_plugin_influxdb_http_target_port={{ influx_http_port }}
#ext_plugin_influxdb_http_retention_policy={{ influx_retention_policy }}
#ext_plugin_influxdb_id={{ influx_username }}
#ext_plugin_influxdb_password={{ influx_password }}
#ext_plugin_influxdb_dbName={{ influx_db }}